@charset "UTF-8";

div#tvRadio {
	width: 900px;
	height: 580px;
	margin: auto;
	background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
	display: block;
	position: relative;
	left: 575px;
	top: 487px;
	width: 300px;
}

video#filme {
	display: block;
	position: relative;
	left: 85px;
	top: 60px;
	width: 440px;
}